.top-box{
    display: flex;
    max-height: 400px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    margin: 2%;
}

.image-container{
    /* width: 58%; */
    text-align: center;
    margin: 1% auto;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    color:rosybrown;
    font-size: 4rem;
    background-image: none;
}
.carousel-control-prev{
    left: -8%;
    top: -30%;
}
.carousel-control-next{
    right: -7%;
    top: -30%;
}
.Content img{
    width: 500px;
    max-height: 350px;
    height: 350px;
}

.hotel-form-container{
    /* width: 30%; */
    border-left: 1px solid;
}

.hotel-form-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 7% 2%;
    max-height: 400px;
}

body .hotel-form-container form .hotel-input_group{
    display: flex;
    justify-content: space-between;
    padding:3%;
}

body .hotel-form-container form .hotel-input_group input{
    width: 60%;
}

/* body .hotel-form-container form .hotel-input_group input[type="date"]{
    width: 60%;
} */

.book-now{
    text-align: center;
}

.book-now input{
    margin-top: 5%;
}

.hotel-details{
    margin: 2%;
}

.b-hover:hover {
    color: #fff !important;
    background-color:#28a745!important;
    border-color: #28a745!important;
}