/* Universal applied */
*{
    scroll-behavior: smooth;
}

.Content{
    padding-bottom: 5%;
}

.hotel-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    
}

.hotel-card{
    display: flex;
    flex-direction: row;
}

.card-box2{
    padding:3%;
    padding-right: 1%;
}

.hotel-description{
    background-color:lightgrey;
    margin: 2% 4%;
    width: 40%;
    height: 200px;
}

.hotel-description:hover{
    background-color: rosybrown;
    transition: .1s ease;
}

.hotel-description a{
    text-decoration: none;
    color: #000;
}

.hotels-container img{
    width: 250px;
    height: 200px;
}

.Content .views{
    padding: 15px 0;
}

.Content .views ul{
    list-style: none;
    text-align: center;
    margin:0 auto;
    padding: 0;
}

.Content .views ul li {
    display: inline;

}



.Content .views ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}

/* .Content .views ul li:first-child a{
    margin-left: -30px;
    padding-right: 35px;
} */

/* end */